@font-face {
    font-family: 'Comic_CAT';
    src: url('assets/fonts/Comic_CAT.otf') format('woff');
}

.home {
    font-family: 'Comic_CAT', sans-serif;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}


.projects {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}

#projects h5 {
    font-family: 'Comic_CAT', sans-serif;
    color: #e5e5e5;
}

.contact {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}

.error-page {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}

.waffles-image {
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.card {
  margin: 2rem 0;
  max-width: 28rem;
  text-align: center;
  animation: fadeSlideIn 1s ease-out;
}

.card-body {
  padding: 1rem;
  background-color: #14213d;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#projects h5 p {
  color: #e5e5e5;
}


@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* starfield canvas styling */
#starfield {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
    background-color: #0B0C10;
}