@font-face {
    font-family: 'Comic_CAT';
    src: url('assets/fonts/Comic_CAT.otf') format('woff');
}
/* home styling
.home {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}
*/

.projects {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}

.contact {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}

.error-page {
    font-family: 'Comic_CAT', sans-serif;
    background-color: #F4D8CD;
    color: #1E555C;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Comic_CAT', sans-serif;
    margin: 0;
    padding: 0.5em 0;
    color: #1E555C;
}

.waffles-image {
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.card {
  margin: 2rem 0;
  max-width: 28rem;
  text-align: center;
  animation: fadeSlideIn 1s ease-out;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-body {
  padding: 1rem;
  background-color: #EDB183;
}

/* starfield canvas styling */
#starfield {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
    background-color: #0B0C10;
}